@font-face {
    src: url("Inter-VariableFont_slnt,wght.ttf");
    font-family: Inter;
}

@font-face {
    src: url("Karla-VariableFont_wght.ttf");
    font-family: Karla;
}

body {
    margin: 0;
    font-family: Inter;
    color: #FFFFFF;
    background: #1C1C1C;
}

#ui-container {
    width: 550px;
    height: 550px;
    background: #1F2937;
    margin: 50px auto;
}

#header {
    font-family: Karla;
    font-weight: 800;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -1px;
    padding-top: 115px;
    margin-left: 50px;
    width: 355px;      
}

span {
    color: #4ADF86;
}

#description {
    color: #D5D4D8;
    font-size: 20px;
    font-weight: 400; 
    line-height: 30px;
    margin-top: -15px;
    margin-left: 50px;
}

#generate-passwords-btn {
    margin-left: 50px;
    background: #10B981;
    padding: 10px 15px;
    font-size: 16px; 
    font-weight: 500; 
    line-height: 25px;
    color: #FFFFFF;
    border-radius: 6px; 
    border: none;
    margin-top: 30px;
}

hr {
    width: 445px;
    border-color: #6c757d;
    margin-top: 30px;
}

.password-btn {
    margin-top: 35px;
    width: 210px;
    height: 39px;
    border-radius: 6px;
    border: none;
    background: #273549;
    font-size: 16px; 
    font-weight: 500; 
    line-height: 32px;  
    color: #55F991;  
}

#password-one {
    margin-left: 50px;
}

#password-two {
    margin-left: 25px;
}